<template name="about">
  <div class="wrapper">
    <h1>About</h1>
    <p>
      WoW Diabetes is an add-on for Blizzard's World of Warcraft. This add-on give players' in-game characters a simulated form of Diabetes. Characters will have to manage their insulin levels to keep their vision clear, making sure to eat food, take medicine, or perform strenuous activity to maintain a healthy insulin level. This add-on may darken players’ screens to inform them of their mishandling of their character's diabetes. All in-game food has been formulated to affect character's insulin levels realistically. Character's activities will affect insulin levels as well, from raiding to resting, player vs player to player vs environment combat.
    </p>
    <p>
    The impetus for this add-on came from Anna Sweet and her time working as a nurse at Blizzard Entertainment. At a conference, she met with Stephen Jacobs, a professor at Rochester Institute of Technology, where they discussed the educational value of this potential add-on. In Spring 2014, Stephen Jacobs pitched the idea to some students and they worked on the preliminary version of the add-on. Since then, two students from that team, Andrew Mandula and Alexandria Mack continued work on the project with Stephen and Anna. This website marks the culmination of that work and the project cannot move forward without Blizzard’s approval.
    </p>
  
    <h2>Why doesn't the add-on do X? It would be more realistic to a diabetic’s lifestyle.</h2>
    <p>
    Blizzard Entertainment, the developers of World of Warcraft, have a very explicit Terms of Service for add-ons in World of Warcraft. One of the most important tenets of the Terms of Service is that add-ons may not change the gameplay or design of the game. While there are many design ideas the team has, we are worried about adding them into the add-on as they could be seen as changing gameplay, banning players using our add-on and our development team from continuing on with the project. We could use your help though! If we all show Blizzard the potential educational value of this add-on, by tweeting, emailing, facebooking, smoke-signaling them about this add-on, we could chat with them about receiving special rights to make a better add-on. Of course, please contact the developers of this add-on with your feedback!
    </p>
  
    <h1>Meet the Team!</h1>
    <div class="team">
      <div class="member">
        <figure><img src="images/andrewm.jpg" alt="orc" /></figure>
        <article>
          <h4>Andrew Mandula - Designer, Producer</h4>
          <p>Andrew Mandula is a graduating Game Design &amp; Development major at Rochester Institute of Technology. With his free time, he works on Open Source Projects such as educational tools teaching players about Diabetes, and game developer tools to write their game content in Twine and use it in Unity. <a href="http://andrewmandula.com" target="_blank">andrewmandula.com</a></p>
        </article>
      </div>
      <div class="member">
        <figure><img src="images/alexm.jpg" alt="sylvanas" /></figure>
        <article>
          <h4>Alexandria Mack - Designer, Programmer</h4>
          <p>Alexandria Mack is pursuing a degree in Game Design and Development at RIT. She recently worked on the back-end for an open source game called Flossopher vs Net Neutrality. Alex also had the opportunity to take notes during voice over sessions for a sound designer. Check out more at <a href="http://alexandriamack.com" target="_blank">alexandriamack.com </a></p>
        </article>
      </div>
      <div class="member">
        <figure><img src="images/changbail.jpg" alt="wat" /></figure>
        <article>
          <h4>Changbai Li - Web Developer</h4>
          <p>Changbai expects graduation from RIT's New Media Interactive Development Major in May 2015. Changbai enjoys creating games, websites, and occasionally impractical digital media experiments. <a href="http://changbai.li" target="_blank">www.changbai.li</a>.</p>
        </article>
      </div>
      <div class="member">
        <figure><img src="images/stevej.png" alt="SJ" /></figure>
        <article>
          <h4>Stephen Jacobs - Team Lead</h4>
          <p>Associate Director of the <a href="http://magic.rit.edu/" target="_blank">Center for Media, Art, Games, Interaction and Creativity</a> at the Rochester Institute of Technology</p>
          <p>Professor, <a href="http://games.rit.edu" target="_blank">School of Interactive Games and Media</a> at RIT</p>
          <p>Visiting Scholar, <a href="http://www.museumofplay.org/" target="_blank">Strong National Museum of Play</a>’s <a href="http://www.museumofplay.org/about/icheg" target="_blank">International Center for the History of Electronic Games</a></p>
        </article>
      </div>
      <div class="member">
        <figure><img scr="images/ZippywareLogo.png" alt="Zippyware"/></figure>
    </div>
  </div>
</template>
